window {
    font-size: 24pt;
    color: @foreground; /* text */
    background-color: rgba(38, 38,38, 0.5);
}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    background-color: rgba(200, 220, 255, 0);
    animation: gradient_f 10s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55, 0.0, .28, 1.682), box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
    border-radius: 10px;
	border:0px;
	outline-style: none;
}

button:focus {
    background-size: 50%;
	border: 0px;
	outline-style: none;
}

button:hover {
    background-color:#c3c6c9;
    color: #C6D7E8;
    background-size: 50%;
    margin: 30px;
    border-radius: 10px;
    outline-style: none;
	
}

/* Adjust the size of the icon or content inside the button */
button span {
    font-size: 1.2em; /* Increase the font size */
}


#lock {
    background-image: image(url("./icons/lock.png"));
}
#lock:hover {
    background-image: image(url("./icons/lock-hover.png"));
}

#logout {
    background-image: image(url("./icons/logout.png"));
}
#logout:hover {
    background-image: image(url("./icons/logout-hover.png"));
}

#suspend {
    background-image: image(url("./icons/sleep.png"));
}
#suspend:hover {
    background-image: image(url("./icons/sleep-hover.png"));
}

#shutdown {
    background-image: image(url("./icons/power.png"));
}
#shutdown:hover {
    background-image: image(url("./icons/power-hover.png"));
}

#reboot {
    background-image: image(url("./icons/restart.png"));
}
#reboot:hover {
    background-image: image(url("./icons/restart-hover.png"));
}

#hibernate {
    background-image: image(url("./icons/hibernate.png"));
}
#hibernate:hover {
    background-image: image(url("./icons/hibernate-hover.png"));
}
